Options +FollowSymLinks
RewriteEngine On
Options -Indexes

# Basic security headers
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>

# Allow PHP execution
<Files *.php>
    Order Allow,Deny
    Allow from all
</Files>

DirectoryIndex index.php