Options +FollowSymLinks
RewriteEngine On

# Allow access to all files
<Directory "/Applications/XAMPP/xamppfiles/htdocs/SAE 4012/SAE-4012">
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Require all granted
</Directory>

# PHP files handling
<FilesMatch "\.php$">
    Require all granted
</FilesMatch>

# Default index file
DirectoryIndex index.php